body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #007bff; /* Bootstrap primary blue */
}

.card {
    border-radius: 10px;
    border: none;
}

.card-title {
    color: #333;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

footer {
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}

/* Responsive adjustments */
@media (max-width: 576px) {
    .container {
        padding: 15px;
    }
    h1 {
        font-size: 1.5rem;
    }
}